@use "../../../styles/abstracts/colors" as *;

.icon-dark {
  // fill: $dark-icon;
  stroke: $dark-icon;
  :hover {
    stroke: $text-1;
  }
}

.icon-dark:hover path {
  stroke: $text-1;
}

.icon-light {
  // fill: $light-icon;
  stroke: $light-icon;
  :hover {
    stroke: $text-2;
  }
}
.icon-light:hover path {
  stroke: $text-2;
}
