@use "../../styles/abstracts/colors" as *;

.nav {
  padding: 0 16px;

  div {
    height: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid $dark-div;

    h1 {
      display: flex;
      justify-content: space-between;
      width: 110px;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none;
      gap: 24px;

      li {
        cursor: pointer;
      }
    }
  }
}
